.container {
    margin: 0 auto;
    width: 856px;
}

.nav-items {
    text-align: center;
    margin: 32px;
}

.nav-items li {
    display: inline-block;
    padding-right: 72px;
}

.nav-items a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

img {
    width: 100%;
    padding-bottom: 88px;
}

.main-title {
    text-align: center;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.main-content {
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
}

.main-blue-area {
    color: #04959E;
    font-weight: 600;
    font-size: 21px;
    font-style: normal;


}

.main-list {
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 40px;
}



.button{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: #04959E;
    text-decoration: none;
    width: 97px;
    height: 24px;
    padding: 14px 24px;



}

.footer-content{
    margin-top: 88px;
    padding-top: 20px;
    border-top: grey 1px solid;
    text-align: center;
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
